@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    height: 95vh;
    overflow: hidden;
}

.title-lamp {
    color: black;
    font-size: 40px;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 400;
    padding: 20px;
}

.lamp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lamp-img {
    user-select: none;
    cursor: pointer;
    width: 227px;
}

.container-botton {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botton {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    background-color: goldenrod;
    border-radius: 17px;
    margin: 100px;
    width: 140px;
    height: 50px;
}

.botton:hover {
    background-color: rgb(237, 193, 83);
    transition-duration: 0.1s;
}